<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.7/css/layui.css}">
    <link rel="stylesheet" th:href="@{/index.css}">
    <script th:src="@{/webjars/layui/2.5.7/layui.js}"></script>
</head>
<body>

    <header>

    </header>

    <article>
        <div class="layui-container">
            <div class="layui-row">
                <form class="layui-form" action="">
                    <!-- 设置隐藏域-->
                    <input type="hidden" id="goodsImage" name="goodsImage" value="">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">图片名称</label>
                        <div class="layui-input-block">
                            <textarea name = "imagename" placeholder="请输入图片名称信息" class="layui-textarea" ></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">上传按钮</label>
                        <div class="layui-input-block">
                             <button type="button" class="layui-btn" id="upload-button">
                                 <i class="layui-icon">&#xe67c;</i>上传图片
                             </button>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">图片预览</label>
                        <div class="layui-input-block">
                            <img id="image" alt="" style="width: 300px;height: 300px">

                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</body>
</html>
<script>
    layui.use(['form'], function(){
        let form = layui.form;
        let $ = layui.$;


        // 提交事件
        form.on('submit(formDemo)', function(data){

            $.ajax({
                url: "/upload/UploadDB",
                method:"post",
                data:data.field,
                dataType:"JSON",
                success:function (res) {
                    if (res==1){
                        layer.msg("添加成功")
                    }
                }
            })
            return false; // 阻止默认 form 跳转
        });
    });

    layui.use(['upload'],function () {
         let upload=layui.upload;
         let $ = layui.$;
         let uploadInst = upload.render({
             elem:'#upload-button'  //绑定元素
             ,url:'/upload/image'   //上传接口
             ,done:function (res) {
                    if(res.code == 1){
                       layer.msg(res.msg)         //成功
                        let  imagePath=res.data.src;
                       $("#image").attr("src",imagePath);

                       $("#goodsImage").attr("value",imagePath);
                    }else {
                        layer.msg(res.msg)       //失败
                    }//上传完毕回调
             }
             ,error:function () {
                    //请求异常回调
             }
         });
    });

</script>